

@media only screen and (max-width: 1400px){



.sabores{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	border: 1px solid #cccccc;
	border-radius: 25px;
	padding: 2em;
	width: 100%;
	min-width: 40em%;
	margin-bottom: 1em;
	margin-right: 0;
	margin-left: 0;
}


.sabores img{
	min-width: 25em;


}

.border-1{
	border: 0px;
}
}









@media only screen and (max-width: 1275px){

.line{
	display: none;
}

}





@media only screen and (max-width: 768px){

.h-line{
	width: 60%;
	height: 1px;
	background-color: #242424;
	margin: 1em 0;

}

.nav{
	flex-direction: column;
	padding-bottom: .5em;
}


.logo{
	margin-top: 1em;

}
.header-content{

	justify-content: center;
}
.headerimg{
	background-attachment: none;
 	background-position: start;
  	background-size: cover;
  	padding: 3%;
}
.dos-img img{
	min-width: 20em;
	max-width: 23em;
	margin: 2em;
	padding: 0;
}
}

@media only screen and (max-width: 537px){





h1{
	font-size: 2.0em;


}


h2{
	font-size: 1.8em;

}
h3,h4{
	font-size: 1.4em;

}

p{
	font-size: 1.1em;


}

.dos-img img{
	width: 20px;

}

.wideph-content{
	padding: 2em;
}
.header-content{

	padding: 1em;

}



.nav ul li a{
		

		margin: .6em;

}
.nav ul li a{
		font-size: 1em;

}


}




