
@media only screen and (max-width: 1640px){

	.header-info, .header-contacto, .header-sabores, .header-recetas, .header-novedades{
		background-position-x: right;
		animation-name: slide2;
	 	animation-duration: 2s;
		background-size: cover;
	}
	.headerimg{
		background-position: left;
		animation: slide 2s;
	}

}




@media only screen and (max-width: 1400px){

	.header-info, .header-contacto, .header-sabores, .header-recetas{
		background-position-x: right;
		background-size: cover;
		animation-name: slide3;
	 	animation-duration: 2s;
	}

/*-----------------------------------------------Recetas CUADROS START */
	.recetas-cuadro .cuadro1{
		
		
		padding: 5em 2em ;
	}
	.recetas-cuadro .cuadro2{
		
		
		padding: 5em 2em ;
	}
	.recetas-cuadro .cuadro3{
		
		
		padding: 5em 2em ;
	}
	.recetas-cuadro .cuadro4{
		
		
		padding: 5em 2em ;
	}
/*-----------------------------------------------Recetas CUADROS End */
}




@media only screen and (max-width: 1300px){
	

	.header-info, .header-contacto, .header-sabores, .header-recetas, .header-novedades{
		animation: slide4 2s;
		background-position-x: 0px;
		background-position-y: center;
		background-attachment: scroll;
		background-size: contain;
	}

}

.headerimg{
	
	background-position-x: 0px;
	background-position-y: center;
	background-attachment: fixed;
	background-size: cover;
	
	
	
}



@media only screen and (max-width: 1200px){


.wid-main{
	width: 80%;
}
.main-txt h1{
		width: 80%;
	}
.main-txt p{
		width: 80%;
	}


/*-----------------------------------------------Recetas CUADROS START */
	.recetas-cuadro .r-c-cont1{
			
		flex-direction: column;
	}
	.recetas-cuadro .cuadro1 p{
		width: 100%;
	}
	.recetas-cuadro .cuadro2 p{
		width: 100%;
	}
	.recetas-cuadro .cuadro3 {
		
		width: 100%;
		
	}
	.recetas-cuadro .cuadro4{
		
		width: 100%;
		
	}

/*-----------------------------------------------Recetas CUADROS End */


/*-----------------------------------------------HEADER START */

.header-index{
	width: 80%;
}
.header-rest{
	width: 80%;
}



/*-----------------------------------------------HEADER END */

.cuadro-1y2-rct{
	flex-direction: column;
}
.cuadro-1y2-rct .rct-div{
	width: 100%;
	padding: 3em;
}


/*-----------------------------------------------CUADROS START */

.cuadros{
		display: flex;
		flex-direction: column;
		
		
		align-items: center;
		
}
.cuadros .cuadro1y2{
		width: 100%;
		
		
}
.cuadros .cuadro1y2 .cuadro1{
		width: 100%;
		padding: 2em;
		
		margin-right: 0;
		margin-bottom: 0;	
		
		margin: 1em 0;
}	

.cuadros .cuadro1y2	.cuadro2{
		
		
		
		padding: 2em;
		margin: 1em 0;
		margin-right: 0;
}
.cuadros .cuadro3{
		
		
	width: 100%;	
	padding: 2em;
	
	margin-right: 0;
}

/* -----------------------------------------------CUADROS END */



/* -----------------------------------------------New SABOR */
.new-s{
	
	align-items: center;
	
}
.new-s .txt-new a{
	
	margin-bottom: 1.5em;
	
}

.img-new img{

	width: 20em;
}

.new-s .txt-new{
	width: 100%;
}





/* -----------------------------------------------New SABOR ENDS */









}

@media only screen and (max-width: 992px){
	
	.nav-item a{
		color: #262626;
	}
	/*-----------------------------------------------HEADER BACKGROUND */

	.header-novedades, .header-info, .header-contacto, .header-sabores, .header-recetas {
		background-image: url(../img/bckgrounds/vg452.jpg);
		background-size: 100%;
		background-position-y: bottom;
		animation: slide34 2s;
	}
	.headerimg{
		background-image: url(../img/bckgrounds/vg452.jpg);
		
		background-size: 100%;
		animation: slide34 2s;
		background-position-x: center;
		background-position-y: bottom;
		background-attachment: scroll;
	}


	
	/*-----------------------------------------------HEADER BACKGROUND END*/



	/*-----------------------------------------------HEADER START */
	
	.header-index{
		display: none;
	}
	.header-rest{
		display: none;
	}
	.arrow-down{
		display: none;
	}
	.arrow-down-b{
		display: none;
	}	
	.header-txt2{
		display: none;
	
	}
	.nav-bg{
		background-image:none;
		border-radius: 0px;
		padding: 0px 0px;
	}
	.headerbb{
		
		
		height: 100%;
		margin: auto;
		
		display: flex;
		align-items: center;
		
		width: 50%;
    	flex-direction: column;
		
		padding-top: 10%;
		padding-bottom: 25%;
		
		animation: start 2s;
		
	}
	
	.header-txt-c{
		display: block;
		
	}
	.headerbb .header-txt-c{
		max-width: 80%;
		margin-top: 2em;
		margin-left: 0;
		margin-bottom: 1em;
	    animation: down-slide 2s;
	
	}
	.headerbb .header-logo{
		max-width: 80%;
		height: fit-content;
		margin-bottom: 0em;
	    animation: down-slide 2s;
	 }
	 .headerbb .header-logo-rest{
		max-width: 50%;
		height: fit-content;
		margin-bottom: 0em;
	    animation: down-slide 2s;
	 }
	 .demo{
		display: flex;
		align-items: center;
		flex-direction: column;
		margin-top: 1em;
	  
		animation: down-slide 2s;
	  
		
	  } 



	  .demo img {
		max-width: 2.5em;
		margin: auto;
	  
	  }
	  
	  .demo a:active {
		opacity: .5;
	  }
	  
	  
	  .demo p{
			font-family: 'Oswald', sans-serif;
			font-weight: 200;
			font-size: 1.2em;
			text-align: center;	
			
	   
	  }
	
	
	
	/*-----------------------------------------------HEADER END */
	.footer-nav ul{
		flex-direction: column;
		text-align: center;
	}
	/*-----------------------------------------------TIENDA START */

	.border-1{
		padding: 0em;
	}
	
	.productos1{
		flex-direction: column;
	}

	.productos1 .img-card img{
		padding-top: 1em;
		max-width: 20%;
	}
	.productos1 .txt-card img{
		min-width: 10em;
		width: 60%;
		align-self: center;
	}
	
	.productos1 .txt-card{
		
		width: 100%;
		text-align: center;
		padding: 0em 1em;
	}

	.productos1 .txt-card h3{
		font-size: 2.2em;
	}

	.productos1 .img-card {
		border-right: 0px solid black;
		width: 100%;
	}
	/*-----------------------------------------------TIENDA END */

	/*------------------------------------------NUEVO SABOR START */


	.new-s .txt-new h4{
	
		font-size: 1.8em;
		
	}
	.new-s .txt-new h6{
	
		font-size: 1.2em;
		
	}

	/*------------------------------------------NUEVO SABOR END */
.img-lateral{
	flex-direction: column-reverse;
	align-items: center;

}
.img-lat{
	height: 500px;
	width: 100%;
	background-position-y: center;
}
.img-lat-recetas{
	height: 500px;
	width: 100%;
	background-position-y: center;
}
.img-lat-hs{
	height: 500px;
	width: 100%;
	background-position-y: center;
}
.txt-lat{
	width: 98%;
	padding: 0px;
	border: 0px;
	margin: 0px;

}
}

@media only screen and (max-width: 768px){

	.wid-main{
		width: 90%;
	}
	.main-txt h1{
		width: 90%;
	}
	.main-txt p{
		width: 90%;
	}


/*------------------------------------------NUEVO SABOR START */
.border-3{
	padding: 1em;
}





/*------------------------------------------NUEVO SABOR END */

/*------------------------------------------RECETAS */


.manhattan-img h3, .cafe-img h3, .collins-img h3, .mint-img h3 {
    
	
    font-size: 3em;
    
    margin: auto;
}

.manhattan-img, .cafe-img, .collins-img, .mint-img{
	padding: 6em 0;
}

.recetas-cuadro a{
	
	font-size:14px;
	padding:0.2em 1em;

}




/*------------------------------------------RECETAS */

}




@media only screen and (max-width: 537px){
	
.wid-main{
		width: 92%;
	}
.main-txt h1{
		width: 92%;
	}
.main-txt p{
		width: 92%;
	}

main h1{
		font-size: 1.5em;
	
	}
	
	main h2{
		font-size: 1.3em;
	
	}

main h3{
		font-size: 1.2em;
	
	}
	
main h4{
		font-size: 1.2em;
	
	}

main h5{
		font-size: 1.3em;
	
	}
	
main p{
		font-size: .9em;
	
	
	}



	.new-s{
		flex-direction: column-reverse;
		align-items: center;
		padding: 1.5em;
		padding-bottom: 0px;
	}
	.new-s .txt-new a{
	
		display: none;
		
	}

.img-new img{
	width: 17em;
}

.headerbb{
		padding-top: 20%;
		flex-direction: column;
		justify-content: start;
		width: 80%;
}

.logo {
	width: 2.5em;
	}

.logo-footer img{
			width: 3em;
		}


footer .logo-footer img{
	width: 3.8em;
}

footer .redesdiv img{
		width: 2em;
	}



.recetas-cuadro .cuadro1{
		
	align-items: center;
	text-align: center;
	padding: 5em 1em ;
	}
.recetas-cuadro .cuadro2{
	align-items: center;
	text-align: center;
	padding: 5em 1em ;
	} 
.recetas-cuadro .cuadro3{
	align-items: center;
	text-align: center;
	padding: 5em 1em ;
	}
.recetas-cuadro .cuadro4{
	align-items: center;
	text-align: center;
	padding: 5em 1em ;
	}


.productos1 .img-card img{
	min-width: 10em;
}
.img-lat, .img-lat-hs, .img-lat-recetas{
	height: 300px;
	
}

.txt-lat{
	
}
.txt-lat a{
	font-size: .9em;
}
}