@media only screen and (min-width: 538px){

.demo{
	display: none;
}
}

@media only screen and (max-width: 1400px){

.header-txt-content{
 	display: none;
}

.header-content{
	width: 50%;


}

.header-content img{
 	width: 100%;
 	height: auto;
 	margin-top: 2em ;
	margin-bottom: 3em;

}

.sabores{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	border: 1px solid #cccccc;
	border-radius: 25px;
	padding: 2em;
	width: 100%;
	min-width: 40em%;
	margin-bottom: 1em;
	margin-right: 0;
	margin-left: 0;
}


.sabores img{
	min-width: 25em;


}

.border-1{
	border: 0px;
}
}









@media only screen and (max-width: 1455px){

.line{
	display: none;
}

}





@media only screen and (max-width: 768px){

.sabores{
	border: 1px;
	padding: 0;

	margin: 1em 0;
}

.header-content{
	width: 70%;


}




.dos-img img{
	min-width: 20em;
	max-width: 23em;
	margin: 2em;
	padding: 0;
}
}

@media only screen and (max-width: 537px){

.demo{
  display: flex;
  justify-content: center;
  justify-items: center;
  flex-direction: column;
  align-items: center;
  
  width: 100%; 
  bottom: 5em;
  
 	position: relative;
  animation-name: start;
  animation-duration: 2s ;
}


.demo img {
  width: 3em;
  margin: auto;

}

.demo a:active {
  opacity: .5;
}


.demo p{
  	font-family: 'Oswald', sans-serif;
  	font-weight: 200;
  	font-size: 1.5em;	
 
}


.header-content-container{
		padding: 0 0;
		min-height: 80vh;
		flex-direction: column;
}

.dos-img img{
	min-width: 16em;
	max-width: 19em;
	margin: 1em ;
}
.dos-img{
 	margin: 0;
 	padding: 0;
}
.wideph-index{

	background-image: url(../img/wideph/barrel537.jpg);
	

}
.headerimg{
	
 	background-image: url(../img/wideph/all500.jpg);
 	background-attachment: unset;
 


}
.wideph-nov{

	background-image: url(../img/wideph/latam.jpg);
}

.logo{
	width: 2em;


}

.wid-main{
	width: 85%;
}

main h1{
	font-size: 1.5em;


}


main h2{
	font-size: 1.2em;

}
main h3,h4{
	font-size: 1.2em;

}

main p{
	font-size: .9em;


}

.img-fnd img{
	width: 1em;

}


.sabores img{
	min-width: 18em;


}


.header-content{
	
	width: 80%;
   	margin: 2em auto;

}



.w-small{
	width: 4em;
	margin-bottom: .5em;
	padding: 0;
}

.wideph-content{
	padding: 2em;
}


.nav ul li a{
		

		margin: .6em;

}

.nav ul li a{
		font-size: 1em;

}

.footlogo{
	width: 3em;
}

footer{
	padding: 2em;
}

}




