

@media only screen and (max-width: 1400px){

.header-txt-content{
 	display: none;
}

.header-content{
	width: 50%;


}

.header-content img{
 	width: 100%;
 	height: auto;
 	margin-top: 2em ;
	margin-bottom: 3em;

}

.sabores{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	border: 1px solid #cccccc;
	border-radius: 25px;
	padding: 2em;
	width: 100%;
	min-width: 40em%;
	margin-bottom: 1em;
	margin-right: 0;
	margin-left: 0;
}


.sabores img{
	min-width: 25em;


}

.border-1{
	border: 0px;
}
}









@media only screen and (max-width: 1455px){

.line{
	display: none;
}

}





@media only screen and (max-width: 768px){

.h-line{
	

}
.header-content{
	width: 70%;


}
.nav{
	flex-direction: column;
	padding-bottom: .5em;
}



.dos-img img{
	min-width: 20em;
	max-width: 23em;
	margin: 2em;
	padding: 0;
}
}

@media only screen and (max-width: 537px){

.wideph-index{

	background-image: url(../img/wideph/barrel537.jpg);
	

}
.headerimg{
	
 	background-image: url(../img/wideph/all500.jpg);
 	background-position: start;
 	background-size: cover;


}

.logo{
	width: 2em

}

.wid-main{
	width: 85%;
}

main h1{
	font-size: 1.5em;


}


main h2{
	font-size: 1.2em;

}
main h3,h4{
	font-size: 1.2em;

}

main p{
	font-size: .9em;


}

.dos-img img{
	width: 20px;

}


.wideph-content{
	padding: 2em;
}


.nav ul li a{
		

		margin: .6em;

}

.nav ul li a{
		font-size: 1em;

}

.footlogo{
	width: 3em;
}

footer{
	padding: 2em;
}

}




