
/*-----Comienza CONFIG-----*/

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap');



*{
	font-family: 'Roboto', sans-serif;
	margin: 0;
	padding: 0;
	box-sizing: border-box;

}
body img{
	width: 100%;
	height: 100%;
	margin: 0;

}

.containerindex{
	background-color: #0f0f0f;
	margin: auto;


}


.containerindex{
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: auto auto auto auto;
	grid-template-areas: 
	"nav"
	"header"
	"main" 
	"footer";

}

#header1{
	grid-area: header;



	
}

#nav1{
	grid-area: nav;

}



#main1{
	grid-area: main;



}

#footer1{
	grid-area: footer;

}



main h1{
	color: white;
	font-family: 'Oswald', sans-serif;


}




main h2{
	
	font-size: 1.6em;
	font-family: 'Roboto', sans-serif;
	color: #efb810;
	margin-top: .5em;
	margin-bottom: .2em;
}



main h4{
	font-size: 1.6em;
	font-family: 'Roboto', sans-serif;
	font-weight: 700;
	color: white;
	margin-top: .5em;
	margin-bottom: .5em;
}

main h3{
	font-size: 1.6em;
	font-family: 'Roboto', sans-serif;
	color: white;
	margin-top: .5em;
	margin-bottom: .2em;
}

p{
	font-size: 1.1em;
	font-family: 'Roboto', sans-serif;
	margin: 0.6em 0;
	color: white;

}

.border{
	border: 1px solid;
}

.wid-main{
	width: 80%;
	margin: 0px auto;
}

.main-txt{
	padding: 2em 0;
}

.mg-0{
	margin: 0;
}

.pd-0{
	padding: 0;
}
.pd-1{
	padding: 1em;
}
.bg-0f{
	background-color: #0f0f0f;
}
.map{
	border-radius: 20px;
	saturation: -100
}

.wideph{

	background-image: url(../img/wideph/latam.jpg);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	display: flex;
	align-items: center;
}

.wideph h3{

	color: #efb810;
}

.wideph-info{

	background-image: url(../img/wideph/elabo2.jpg);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	display: flex;
	align-items: center;
}

.wideph-index{

	background-image: url(../img/wideph/vaso2.jpg);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	display: flex;
	align-items: center;

}

.wideph-content{
	border: 0.5px solid #efb810;
	border-radius: 25px;
	padding: 3em;
	margin: 5em 7%;

}

.wideph-content h3{
	color: #efb810;
}

.wideph-content p{
	color: white;
}

.border-fine{
	border: 0.5px solid #cccccc;
	border-radius: 10px;
	padding: 1.5em;
}

.start{
	animation-name: start;
	animation-duration: 2s;

}

.h-y-line{
	border-bottom: 1px solid #efb810;
	padding-bottom: 2px;
	margin-bottom: 10px;
	width: fit-content;
}
/*.white-txt h3{
	border-bottom: 1px solid #262626;
	
}
*/
/*-----Ends CONIFG-----*/









/*-----Comienza HEADER-----*/
.header-content-container{
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		padding: 10% 0;
}
.header-txt-content{
		display: flex;
		flex-direction: column;
		justify-content: center;
		text-align: left;
		background-image: url(../img/bckgrounds/262626.png);
		
		border-radius: 25px;
		width: 60%;
		padding: 2em;
		margin-top: 2em ;
		margin-bottom: 3em;
		animation-name: start;
		animation-duration: 2s;


}

.header-txt-content h2{

	color: #EABE3F;
	
}

.header-content{
	width: 40%;
	margin: 0 auto;
	animation-name: start;
	animation-duration: 2s;

}
.header-content img{
 	width: 80%;
 	min-width: 12em;
 	height: auto;
 	margin-top: 2em ;
	margin-bottom: 3em;

}

@keyframes start{
	0%{
		opacity: 0;
	}

	100%{
		opacity: 1;
	}
}


main img{
	width: 100%;
	margin: 0.2em 0;
}


.headerimg{
 		background: url(../img/wideph/all3.jpg);
 		background-repeat: no-repeat;
 		background-attachment: fixed;
 		background-position: center;



}

.headerimg-info{
 		background: url(../img/wideph/scotland.jpg);
 		background-repeat: no-repeat;
 		background-attachment: fixed;
  		padding: 15%;
}

.headerimg-prod{
 		background: url(../img/wideph/barrel.jpg);
 		background-repeat: no-repeat;
 		background-attachment: fixed;
  		padding: 15%;
}










/*-----Ends HEADER-----*/


/*-----Comienza NAV-----*/

/*.nav{
	display: flex;	
	align-items: center;
	justify-content: space-between;
	background: #0f0f0f;
	padding: 0.5em 10%;


}

.nav ul{
	list-style: none;
	display: flex;
	justify-content: center;
}

.nav ul li a{
		font-size: 0.9em;
		font-weight: 400;
		text-decoration: none;
		color: white;
		font-family: Roboto, sans-serif;
		margin: 10px;

}

.nav ul li a:hover{
	color: #ffc800;
}




*/
.container-fluid{
	display: flex;
	justify-content: space-between;
}

.navbar	{
		display: flex;
		justify-content: space-between;
		background-color: transparent;

}
.logo {
	width: 2.5em;
}

.nav-item a{
	color: white;
	font-size: 1em;
		font-weight: 400;
		text-decoration: none;
		color: white;
		font-family: Roboto, sans-serif;
		margin: 5px;
}

.nav-item a:hover{
	color: #EABE3F;
}

.navbar-nav{
	text-align: center;
}

.b-0{
	border: 0px;
}

.navbar-toggler-icon{
	color: white;
}

/*-----Ends nav-----*/
.h-line{
 		border-bottom: 1px solid #262626 ;
 		padding-bottom: .5em;
}
.border-1{
	border: 1px solid #262626;
	border-radius: 25px;
	padding: 1em;
	margin:  1em 7%;
}


.img-fnd{
	background-image: url(../img/prod/bck2.png);
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
}

.dos-img{
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	align-items: center;

}

.dos-img img:hover{
	transform: scale(1.1);
	transition: 1s;
	cursor: pointer;
}


.dos-img img{
	min-width: 20em;
	max-width: 23em;
	margin: 3em 7em;
}
.txt-c{
	text-align: center;
}


.w-small{
	width: 5em;
	margin: 1.2em 0;
}

.bg-07{
	background-color: #070707;

}

.bg-y{
	background-color: #070707;
	padding: 1em 0;
}
.line{
	height: 26vw;

	width: 1px;
	background-color: #262626;
	margin: 2em;
}

.img-wide{


	object-fit: contain;
	background-image: url(../img/wideph/widevasos.jpg);
	background-position: middle;
	background-repeat: no-repeat;
	background-color: white;
	background-size: cover;
	display: flex;
	flex-direction: row-reverse;
	padding: 5%;
}



.img-prom{
	border-radius: 0px 20px 20px 20px ;
}

.Button {
	background-color:transparent;
	border-radius:50px;
	border: 1px solid white;
	cursor:pointer;
	color: white;
	font-size:17px;
	padding:0.5em 1em;
	text-decoration:none;
	display: flex;
	justify-content: safe center;

}

.Button:hover{
	color: #ffda00;
	border: 1px solid;
}



/*-----Comienza Tienda-----*/

.galeria{
	display: flex;


}

.producto img{
	border-radius: 30px 30px 0 0 ;
}

.producto{
	width: 30%;
	border: px solid;
	border-radius: 30px;
	margin: 0 1em;
	padding: 1em;
}



.prod-style{
	padding: 1em;
	background-color: #cccccc;
	border-radius: 0 0 30px 30px;
}


.sabores img{
	width: 5em;
	min-width: 20em;
	margin-right: 1em;
	margin: 0 1em;
	box-shadow: 10px black;

}

.box-prod{
	background-image: url(../img/bckgrounds/bg1.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	border-radius: 25px;
	width: 100%;
	display: flex;
	justify-content: center;
	margin-bottom: 1em;
}


.sabores{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	borde: 1px solid #cccccc;
	border-radius: 25px;
	padding: 2em;
	width: 46%;
	min-width: 40em;
	margin: 1em;


}



.sabores p{
	border-top: 1px solid #efb810;
	padding-top: 0.8em;

}

.sabores h3{
	font-size: 1.7em;
}


.productos-in{
	
}

.sabores-cont{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	width: 90%;
	margin:  1em auto;

}



/*.sabor-txt{
	border-radius: 20px;
	background-color: #c1c1c1;
	padding: 2em;
}*/


/*-----Ends Tienda-----*/

/*---Shit! it´s Animation time---*/

























/*ENDS Animation time*/


/*---Comienza FORM---*/

fieldset {
	border: 0;
	font-size: 1.2em;
	margin: 0.5em 0;
	
}

input, textarea, select{
font-size: 0.8em;
background-color: #cccccc;
}

.contact-input{
  width: 100%;
  padding: 12px; 
  border: 1px solid #ccc; 
  border-radius: 5px; 
  margin-top: 6px;
  margin-bottom: 16px; 
}
.contacto label{
	color: white;

}

.contacto input{
	color: white;

}
.contacto select, textarea{
	
  width: 100%;
  padding: 12px; 
  border: 1px solid #ccc; 
  border-radius: 5px; 
  margin-top: 6px;
  margin-bottom: 16px; 
  
 
}

.button-enviar{
	width: 40%;
	background-color: transparent;
	padding: 12px; 
	border: 1px solid #ccc; 
	border-radius: 5px; 
	margin-top: 6px;
	cursor: pointer;
}

.button-reset{
	width: 20%;
	background-color: transparent;
	padding: 12px; 
	border: 1px solid #ccc; 
	border-radius: 5px; 
	margin-top: 6px;
	margin-right: 1em;
	cursor: pointer;
}


.cont-btn{
	display: flex;
	justify-content: flex-end;
}
/*---ENDS FORM---*/




/*-----Comienza FOOTER-----*/

footer{
	border-top: 1px solid #262626;
	background-color: #0f0f0f;
 	padding: 2% 10%;
 	display: flex;
 	align-items: center;
 	justify-content: space-between;


}

.redes{
	width: 35px;
	
}

.footlogo{
	width: 3.5em;
	
}

footer a{
	margin: 0 5px;
}
/*-----Ends FOOTER-----*/
