.underline-1{
	padding: .2em 0;
	margin-bottom: .2em;
	border-bottom: 1px solid $color-border;
}

.slider-h2{
	
	margin: auto;
	.carousel-inner{
		
		display: flex;
		
		
		
		h5{
			
			color: white;
			text-align: left
		}
		p{
			color: white;
			text-align: left
		}
		a{
			@include m-button;
			color: white;
			font-size: 1.1em;
			padding: .4em 1em;
			&:hover{
				color: $color-dorado;
				border: 1px solid $color-dorado;
			}
		}
		}
	
}



.dosimg-cont{
	display: flex;
	
	margin: auto;
	div:last-child{
		width: 70%;
		
	}
	a{
		@include m-button;
	}
}

.dos-img-center{
	display: flex;
	justify-content: center;
	width: 30%;
	
	margin: auto;

	.left{
					
		img{
			width:90%;
		}
	}
	
}



.cuadros{
	display: flex;
	
	margin: auto;
	border-radius: $border-radius;
	

	.cuadro1y2{
		width: 50%;
		
		
	}

	.cuadro1{
		
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		padding: 6em;
		text-align: center;
		margin-right: 1em;
		margin-bottom: 1em;
		border-radius: $border-radius;
		border: 1px solid $color-border;
		
		h5{
			
			
			margin-bottom: 0;
		}
		p{
			color: #262626;
		}
		a{
				background-color: transparent;
				border-radius:50px;
				border: 1px solid $color-border;
				width: fit-content;
				cursor: pointer;
				color: #262626;
				font-size:17px;
				padding:0.5em 3em;
				text-decoration:none;
				display: flex;
				justify-content: right;
		
	
		&:hover{
			color: $color-dorado;
			border: 1px solid $color-dorado;
		}
		}
		&:hover{
			animation: border .4s;
			animation-fill-mode: forwards;
		}
	}

	.cuadro2{
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		padding: 6em;
		text-align: center;
		margin-right: 1em;

		
		border: 1px solid $color-border;
		border-radius: $border-radius;
		&:hover{
			animation: border .4s;
			animation-fill-mode: forwards;
		}
		
		h5{
			
			
			margin-bottom: 0;
		}
		p{
			color: #262626;
		}
		a{
			background-color: transparent;
			border-radius:50px;
			border: 1px solid $color-border;
			width: fit-content;
			cursor: pointer;
			color: #262626;
			font-size:17px;
			padding:0.5em 3em;
			text-decoration:none;
			display: flex;
			justify-content: right;
	

	&:hover{
		color: $color-dorado;
		border: 1px solid $color-dorado;
	}
		}
	}
	.cuadro3{
		
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		padding: 6em;
		text-align: center;

		
		width: 50%;
		border: 1px solid $color-border;
		border-radius: $border-radius;
		&:hover{
			animation: border .4s;
			animation-fill-mode: forwards;
		}

		h5{

			margin-bottom: 0;
		}
		p{
			color: #262626;
		}
		a{
				background-color: transparent;
				border-radius:50px;
				border: 1px solid $color-border;
				width: fit-content;
				cursor: pointer;
				color: #262626;
				font-size:17px;
				padding:0.5em 3em;
				text-decoration:none;
				display: flex;
				justify-content: right;
		
	
		&:hover{
			color: $color-dorado;
			border: 1px solid $color-dorado;
		}
		}
	}
}























































@keyframes start{
	0%{
		opacity: 0;
	}

	100%{
		opacity: 1;
	}
	0%{
		opacity: 0;
	}
}






























.border-1{
    
	@include m-border-1();

}

.border-2{
	border: 1px solid black;
}


.wid-main{
    width: $wid-main;
    margin: $margin-auto;
}


.map{
	border-radius:  $border-radius;
	margin-bottom: 2em;

}

.bg-1{
	background-color: $bg-1;
}

.border-both{
	@include m-border-both;
}
.main-txt{
	padding: 1em 0;
	h3{
		width: $wid-main;
		margin: 0 auto;
		padding: .3em 0;
	}
	h2{
		width: $wid-main;
		margin: 0 auto;
		
	}
	h1{
		width: $wid-main;
		margin: 0 auto;
	}
	p{
		width: $wid-main;
		margin: 0 auto;
	}
	.map{
		width: $wid-main;
		
		margin-right: auto;
		margin-left: auto;
	}
}

.spacer{
	height: 4em;
}

.border-top1{
	border-top: 1px solid #303030;
}

.wideph-nov{
    @include m-wideph();
}

.wideph-index{
	@include m-wideph;
	
}

.wideph-content{
    @include m-wideph-content;
}

.h-y-line{
	border-bottom: 1px solid $color-dorado;
	padding-bottom: 2px;
	margin-bottom: 10px;
	width: fit-content;
}

.txt-c{
	text-align: center;
}
.prod-underline{
	border-top: 1px solid $color-border;
	margin: .5em 0;
	width: 100%;
}
.underline{
	border-top: 1px solid $color-border ;
	width:	$wid-main;
	margin: 1em auto; 
}
.underline-h3-large{
	border-top: 1px solid $color-border ;
	width:	$wid-main;
	margin: .5em auto; 
	
}
.underline-h3-short{
	border-top: 1px solid $color-border ;
	width:	50%;
	
	margin: .5em auto; 
}

.line{
	height: 26vw;
	
	min-width: 1px;
	background-color: $color-border;
	margin: 2em;
}

.fnd-circulo{
	background-image: url(../img/prod/bck2.png);
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
}

.dos-img{
	display: flex;
	justify-content: center;
	flex-direction: row;
	align-items: center;
    
		
	
    img{
        width: 35%;
        margin: 2em 4em;
        &:hover{
            transform: scale(1.1);
            transition: 1s;
            cursor: pointer;
        }
    }
    
}

.w-small{
	width: 4.5em;
	margin: .5 auto;
	margin-top: 1em;
}

.bg-07{
	background-color: #070707;

}


.productos1{
	
	margin: auto;
	display: flex;
	margin-bottom: 2em;
	
	
	.img-card{
		
		display: flex;

		img{
			min-width: 14em;
			width: 55% ;
			margin: auto;
			
			
		}

		width: 30%;
		border-right: 1px solid $color-border;
		
		
		
	}
	.txt-card{
		display: flex;
		flex-direction: column;
		justify-content: center;
		width: 70%;
		padding: 2em;
		
		img{
			
			width: 37%;
		}
	}

}


.arrow-down{
	width: 6em;
	position: absolute;
	top: 90%;
	left: 47.5%;
	animation: arrow 2s;
	animation-iteration-count: infinite;
	cursor: pointer;
	
}



.img-wide{
	
	padding: 4em 0px;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: center;
	background-image: url(../img/wideph/all500.jpg);
	

	
}
.pd-3em{
	padding: 3em;
}


.div-3-btom{
	margin: auto;
	
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	
	div:first-child{
		background-image: url(../img/wideph/bar.jpg);
		
		}
	div:nth-child(2){
		background-image: url(../img/wideph/glass1.jpg);
		}
	div:last-child{
			background-image: url(../img/wideph/latam.jpg);
			}

	div{
		width: 32%;
		height: 70vh;
		display: flex;
		justify-content: center;
		padding: 0em 2em;
		align-items: center;
		flex-direction: column;
		border-radius: $border-radius;
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
		margin: 1.6em 0;
		border: 0.5px solid #262626;
		
		

		&:hover{
			animation-name: border;
			animation-duration: .4s;
			animation-fill-mode: forwards;
		
		}
	
		h3, p{
		text-align: center;
		padding: 0em;
		}

		h3{
			color: $color-dorado;
		}
		a{
			margin: 1em;
			@include m-button; 
			
		}
	
	
	}
}

@keyframes start1{
	0%{
		opacity: 0;

	}
	100%{
		opacity: 1;
	}
	
}

@keyframes border{
	0%{
		
	}
	100%{
		
		border: 1px solid $color-dorado;
		
		
	}
	
}


@keyframes button{
	0%{
		
		border: 0 px solid $color-dorado;
		color: $color-dorado;
	}
	100%{
		border: 1px solid $color-dorado;
		color: $color-dorado;
	}
	
}

@keyframes arrow{
	0%{
		opacity: 0.05;
	}
	50%{
		opacity: 1;
	}
	100%{
		opacity: 0.05;
	}
	
	
}

/*---Comienza FORM---*/



input[type=text], select, textarea {
	width: 100%; 
	padding: 12px; /* Some padding */ 
	border: 1px solid #ccc; /* Gray border */
	border-radius: 4px; /* Rounded borders */
	box-sizing: border-box; /* Make sure that padding and width stays in place */
	margin-top: 6px; /* Add a top margin */
	margin-bottom: 16px; /* Bottom margin */
	resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
  }

  mg-1{
	margin-top: 1em;
  }

  .boton-form {
	background-color: $color-dorado;
	color: white;
	padding: 12px 20px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	&:hover {
		background-color: $color-dorado;
	  }
  }
  
  
  .container {
	border-radius: $border-radius;
	background-color: #f2f2f2;
	padding: 20px;
  }

/*---ENDS FORM---*/

.img-tittle{
	margin-top: 1em;
	margin-bottom: .2em;
	width: 35%;
}