


footer{
	padding-top: 1em;
	
 	display: flex;
	flex-direction: column;
 	align-items: center;
	justify-content: center;
	padding-bottom: 6em;
	text-align: center;
	background-color: #070707;
	background-size: cover;
	background-repeat: no-repeat;
	.p-foot{
		p{
			font-size: 1em;
			width: 80%;
			margin: auto;
			color: white;
			margin-bottom: 2em;
		}
	}
	
	.line-footer{
		background-color: $color-border;
		width: 100%;
		height: .5px;
		
	}
	

	.footer-nav{
		width: 100%;
		display: flex;
		justify-content: center;
		
			ul{
				margin: 2em 0;
				display: flex;
				list-style: none;
				padding: 0;
				a{		

						color: $color-border;
						font-size: 1.15em;
						font-weight: 400;
						text-decoration: none;
						color: white;
						font-family: Roboto, sans-serif;
						margin: 10px;
						&:hover{
						color: $color-dorado;
						}
				}
			}
			
	}

	.redesdiv{
		display: flex;
		justify-content: end;
								
		img{
			width: 2.2em;
		}
	}
 	
	.logo-footer{
		
		display: flex;
		
		flex-direction: row;
		justify-content: center;
		align-items: center;
		width: 100%;
		img{
			width: 4.5em;
		}
	}
	
     a{
       margin: 0 .5em; 
    }
}

.redes{
	width: 35px;	
}

