

// NEW HEADER beibe

.headerbb{
    width: $wid-main;
    height: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    
    
    animation: start 2s;
    
    
    div{
        margin-bottom: 4em;
    }
    .header-logo{
       width: 27em;
       height: fit-content;
      
    }
    
    .header-txt2{
        width: 47em;
        height: fit-content;
        margin-left: 4em;
       
       
     }
    
}

.header-txt-c{
    display: none;

}

.header-complete{
	height: 100vh
}





.header-content-container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 10% 0;
}




.headerimg{
    @include m-headerimg;
}

.Button {
	background-color:transparent;
	border-radius:50px;
	border: 1px solid #262626;
	cursor: pointer;
	color: white;
	font-size:17px;
	padding:0.5em 1em;
	text-decoration:none;
	display: flex;
	justify-content: safe center;

    &:hover{
      
        animation-name: button;
		animation-duration: .4s;
		animation-fill-mode: forwards;
    }
}


.Button2 {
	background-color: transparent;
	border-radius:50px;
	border: 1px solid #262626;
    width: fit-content;
	cursor: pointer;
	color: white;
	font-size: 17px;
	padding: 0.5em 3em;
	text-decoration:none;
	display: flex;
	
    &:hover{
      
        animation-name: button;
		animation-duration: .4s;
		animation-fill-mode: forwards;
    }
}

.Button2 {
	background-color: transparent;
	border-radius:50px;
	border: 1px solid #262626;
    width: fit-content;
	cursor: pointer;
	color: white;
	font-size:17px;
	padding:0.5em 3em;
	text-decoration:none;
	display: flex;
	justify-content: left;

    &:hover{
      
        animation-name: button;
		animation-duration: .4s;
		animation-fill-mode: forwards;
    }
}


.header-sabores{
    background-image: url(../img/wideph/prod-bg.jpg);
    background-repeat: no-repeat;
 	background-attachment: fixed;
 	background-position: center;
   
}

.header-novedades{
    background-image: url(../img/wideph/nov-bg.jpg);
    background-repeat: no-repeat;
 	background-attachment: fixed;
 	background-position: center;
   
}

.header-info{
    background-image: url(../img/wideph/info-bg.jpg);
    background-repeat: no-repeat;
 	background-attachment: fixed;
 	background-position: center;
   
}

.header-contacto{
    background-image: url(../img/wideph/contacto-bg.jpg);
    background-repeat: no-repeat;
 	background-attachment: fixed;
 	background-position: center;
   
}


