.header-index, .header-rest{
    width: $wid-main;
    display: flex;
    margin: 0 auto;
    align-items: center;
    margin-top: 10%;
    animation: start 3s;
   
                   
    .txt-content{
        animation: down-slide 2s;
        width: 50%;
        img{
            width: 80%;
        }
        a{
            margin-top: 2em;
			@include m-button; 
        }
      
       h1{
        font-size: 5em;
       
       }
    }
   
    .img-content{
        width: 50%;
        display: flex;
        justify-content: flex-end;
       

        img{
            width: 70%;
            
        }
    }
}

.header-rest{
    margin-top: 13%;
}

.slide-up{
    animation: slide4 2s;
    
}

.dorado-h2{
    
    color: $color-dorado;
        
        
   
}
.txt-content{
   
    h2{
        font-family: 'Secular One', sans-serif;
        font-size: 5em;
        margin: 0;
    }
}




.border-3{
    display: flex;
    max-height: 90%;
    min-height: 60%;
    border: $color-dorado 1px solid;
    padding: 3em;
    margin-top: 7%;
    border-radius: $border-radius;
    align-items: center;
   
    
   
}


.header-in{
    width: 80%;
    align-content: center;
    margin: 0 auto;
   
    
    animation: start 2s;
    height: 100%;
                   
    .txt-content2{
        width: 50%;
        img{
            width: 100%;
        }
        a{
            margin-top: 2em;
			@include m-button; 
        }
      
       h1{
        font-size: 5em;
       
       }
    }
   
    .img-content2{
        width: 50%;
        display: flex;
        
        justify-content: flex-end;
        img{
            width: 100%;
        }
    }
}







.underline-header{
    width: 95%;
    height: 1px;
    background-color: $color-dorado;
}




// NEW HEADER beibe

.headerbb{
    display: none;
}

.header-txt-c{
    display: none;

}

.header-complete{
	min-height: 100vh;
    max-height: 150vh;
}





.header-content-container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 10% 0;
}






.Button {
	background-color:transparent;
	border-radius:50px;
	border: 1px solid #262626;
	cursor: pointer;
	color: white;
	font-size:17px;
	padding:0.5em 1em;
	text-decoration:none;
	display: flex;
	justify-content: safe center;

    &:hover{
      
        animation-name: button;
		animation-duration: .4s;
		animation-fill-mode: forwards;
    }
}


.Button2 {
	background-color: transparent;
	border-radius:50px;
	border: 1px solid #262626;
    width: fit-content;
	cursor: pointer;
	color: white;
	font-size: 17px;
	padding: 0.5em 3em;
	text-decoration:none;
	display: flex;
	
    &:hover{
      
        animation-name: button;
		animation-duration: .4s;
		animation-fill-mode: forwards;
    }
}

.Button2 {
	background-color: transparent;
	border-radius:50px;
	border: 1px solid #262626;
    width: fit-content;
	cursor: pointer;
	color: white;
	font-size:17px;
	padding:0.5em 3em;
	text-decoration:none;
	display: flex;
	justify-content: left;

    &:hover{
      
        animation-name: button;
		animation-duration: .4s;
		animation-fill-mode: forwards;
    }
}

.headerimg{
    @include m-headerimg;
    background-image: url(../img/bckgrounds/vg3.jpg);
    animation-name: slide1;
 
}

.header-sabores{
    @include m-headerimg;
    background-image: url(../img/bckgrounds/vg9.jpg);
   
}

.header-novedades{
    @include m-headerimg;
    background-image: url(../img/bckgrounds/vg10.webp);
    
   
}

.header-info{
    @include m-headerimg;
    background-image: url(../img/bckgrounds/vg8.webp);
    
   
}

.header-contacto{
    @include m-headerimg;

    background-image: url(../img/bckgrounds/vg11.webp);
   
}

.header-recetas{
    @include m-headerimg;

    background-image: url(../img/bckgrounds/vg12.jpg);
   
}


