@mixin m-wideph{
    background-image: url(../img/wideph/latam.jpg);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	display: flex;
	align-items: center;
}

@mixin m-wideph-content{
    border: 0.5px solid $color-dorado;
	border-radius: 25px;
	padding: 3em;
	margin: 3em auto;
    h3{
        color: $color-dorado;
    }
    p{
        color: $color-texto;
    }
}

@mixin m-headerimg{
		background-color: #efefef;
 		background-repeat: no-repeat;
 		background-attachment: fixed;
		 animation-name: slide;
		 animation-duration: 2s;
		 background-position-x: right;
		
		
}

@mixin m-border-1{
	border: 1px solid $color-border;
	border-radius: 25px;
	padding: 1em;
	margin:  1em 7%;
}

@mixin m-border-both{
	border-top: 1px solid #262626;
	border-bottom: 1px solid #262626;
}

@mixin m-button{
	
		background-color: transparent;
		border-radius:50px;
		border: 1px solid $color-border;
		width: fit-content;
		cursor: pointer;
		color:$color-texto;
		font-size:17px;
		padding:0.5em 3em;
		text-decoration:none;
		display: flex;
		justify-content: right;
		
	
		&:hover{
			color: $color-dorado;
			border: 1px solid $color-dorado;
		}
	
}