@mixin m-wideph{
    background-image: url(../img/wideph/latam.jpg);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	display: flex;
	align-items: center;
}

@mixin m-wideph-content{
    border: 0.5px solid $color-dorado;
	border-radius: 25px;
	padding: 3em;
	margin: 3em auto;
    h3{
        color: $color-dorado;
    }
    p{
        color: $color-texto;
    }
}

@mixin m-headerimg{
        background: url(../img/wideph/playa.jpg);
 		background-repeat: no-repeat;
 		background-attachment: fixed;
 		background-position: center;
}

@mixin m-border-1{
	border: 1px solid #262626;
	border-radius: 25px;
	padding: 1em;
	margin:  1em 7%;
}

@mixin m-border-both{
	border-top: 1px solid #262626;
	border-bottom: 1px solid #262626;
}

@mixin m-button{
	
		background-color: transparent;
		border-radius:50px;
		border: 1px solid #262626;
		width: fit-content;
		cursor: pointer;
		color: white;
		font-size:17px;
		padding:0.5em 3em;
		text-decoration:none;
		display: flex;
		justify-content: right;
		
	
		&:hover{
		  
			animation-name: button;
			animation-duration: .4s;
			animation-fill-mode: forwards;
		}
	
}