.navbar{
	width: $wid-main;
}

.container-fluid{
	display: flex;
	justify-content: space-between;
}

.navbar	{
    display: flex;
    justify-content: space-between;
    background-color: transparent;
}

.logo {
width: 3em;
}
.nav-item a{
	color: #262626;
	font-size: 1.15em;
		font-weight: 400;
		text-decoration: none;
		
		font-family: Roboto, sans-serif;
		margin: 5px;
        &:hover{
	    color: white;
        }
}



.navbar-nav{
	text-align: center;
}

.navbar-toggler-icon{
	color: white;
}
