

$color-titulo: rgb(27, 27, 27);
$color-texto: rgb(27, 27, 27); 
$color-dorado: #eabe3f;
$color-border: #bebebe;

$color-h2: #262626;
$color-h3: #262626;

$font-xl: 2.2em;
$font-l: 1.6em;
$font-m: 1.4em;
$font-s: 1.1em;

$font-h1: 'Roboto', sans-serif;
$font-h2: 'Roboto', sans-serif;
$font-p: 'Roboto', sans-serif;

$bg-big-color: #f6f6f6;
$bg-1: #050505;

$wid-main: 70%;
$margin-auto: auto;

$border-radius: 10px;



%border-around{
    border: 2px solid white;
    border-radius: 25px;
	padding: 1.5em;
}